<body>
    <div class="formulario">
        <h1>Inicio de sesión</h1>
        <form method="post">
            <div class="username">
                <input type="text" required>
                <label>Email</label>
            </div>

            <div class="username">
                <input type="password" required>
                <label>Contraseña</label>
            </div>
            <a href="pantalla_principal.html" type="submit" class="btn">Iniciar sesión</a>
            <!--<input type="submit" value="iniciar sesión">-->
            <div class="registrarse">
                No tengo cuenta, quiero <a routerLink="/registro"  routerLinkActive="active">registrarme</a>
            </div>
        </form>
    </div>    
</body>
