<body>
    <header>
        <a routerLink="/pantalla-principal"><img src="assets/logo-color.png" alt="Logo"></a>
        <div class="search-bar">
            <input type="text" class="search-input" placeholder="Buscar...">
            <button class="search-button">Buscar</button>
        </div>
        <div class="botones-menu">
            <a routerLink="/pantalla-reservas"><button class="button">Mis reservas</button></a>
            <a routerLink="/pantalla-usuari"><button class="button">Usuario</button></a>
        </div>
    </header>

    <section class="sect-conf">
        <div class="container">
            <div class="conf">

                <div class="conf-1">
                    <label for="Nombre" style="font-weight: bold;">Nombre:</label>
                    <!--<span style="color: black;">Oficina simple con luz natural</span>-->
                    <input type="text" id="Nombre" name="Nombre" value="{{ nombre }}" readonly>
                </div>

                <div class="conf-2">
                    <label for="Direccion" style="font-weight: bold;">Direccion:</label>
                    <input type="text" id="Direccion" name="Direccion" value="{{ direccion }}" readonly>
                </div>

                <div class="conf-3">
                    <label for="Precio" style="font-weight: bold;">Precio:</label>
                    <input type="text" id="Precio" name="Precio" value="{{ precio }}" readonly>
                </div>


                <div class="conf-4">
                    <label for="Fecha inicio" style="font-weight: bold;">Fecha inicio:</label>
                    <input type="date" id="Fecha inicio" name="Fecha inicio" value="{{ fechaInicio  }}" readonly>
                </div>

                <div class="conf-5">
                    <label for="Fecha final" style="font-weight: bold;">Fecha final:</label>
                    <input type="date" id="Fecha final" name="Fecha final" value="{{ fechaFin  }}" readonly>
                </div>
            </div>

            <div class="">
                <img src="assets/oficina.png" alt="Descripción de la imagen" class="image-size">
            </div>
        </div>

        <div>
            <a routerLink="/pantalla-pago"><button class="button-confirmar">ALQUILAR</button></a>
        </div>
    </section>

    <footer>
        <p>Telf.Contacto: 645 746 890 | Correo de ayuda: unitydesk@gmail.com</p>
    </footer>

</body>